.form{

    &__input{
        font-size: 18px;
       
        outline: none;
        display: block;
        padding: 8px;
        &:not(:last-child) {
                margin-bottom: 15px;
            
        
        }

    }

    &__label{
        display: block;
        font-size: 18px;
        font-weight: 500;
        color: black;
    }
    &__button{
        border: 1px solid black;
        outline: none;
        cursor: pointer;
        display: block;
        border-radius: 5px;
        color: black;
        padding: 8px 15px;
        margin-bottom: 20px;

    }
    
}